matplotlib
pydantic==2.10.6
gradio==5.9.0
onnxruntime
rembg
accelerate==1.8.1
numpy>=1.24
einops
pandas
pillow
huggingface_hub>=0.23
lightning==2.2
scipy
torch
torchmetrics
torchvision
tqdm
transformers
scikit-learn
opencv-python
timm
bpy==4.2
